.container {
	background-size: cover;
	width: 100%;
  	height: auto;
	background-position: fixed;
	background: linear-gradient(purple, pink);
	background: -webkit-linear-gradient(purple, pink); 
    background: -o-linear-gradient(purple, pink); 
    background: -moz-linear-gradient(purple, pink); 
    background: linear-gradient(purple, pink);
  	margin: 0 auto;
}

p {
	padding: 400px 0px;
	text-align: center;
	font-size: 200px;
	margin: 0;
}