/* main page */

#container {
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    /*background-image: linear-gradient(to right, #575555, #b8b4b4, #ADADAD); */
    background-color: #BFBFBF;
    z-index: -5;
}

body {
	font-family: 'Raleway', sans-serif;
	text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: .04em;
}

main {
	margin-top: 20%;
}


/* zipcode input style */

input, input:focus {
  border:none;

}

input {
	color: white;
  font-size: 150px;
  font-weight: 700;
  width: 100%;
  text-align: center;
  letter-spacing: .04em;
  text-transform: uppercase;
  border: none;
  background: 0 0;
  line-height: normal;
}

textarea:focus, input:focus{
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255,255,255, 0.5);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgba(255,255,255, 0.5);
}
::-moz-placeholder {  /* Firefox 19+ */
  color: rgba(255,255,255, 0.5); 
}
:-ms-input-placeholder {  
  color: rgba(255,255,255, 0.5); 
}
.active {
  display: block;
}

#button {
    font-size: 15px;
    visibility: hidden;
    padding: 13px 25px;
    margin: 20px 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    background: 0 0;
}

#button:hover { 
    background-color: white;
    color: gray;
}

button:focus {
  outline:0 !important;
}

/* city title style */

#city {
  width: 100%;
  margin: 0 auto;
  height: 100px;
  font-size: 60px;
  font-weight: 700;
  color: white;
  padding-top: 5px;
  margin: 0px;
}


/* weather style */

#elements {
  width: 100%;
  margin: 0 auto;
}

.weather {
  height: 150px;
  width: 33%;
  margin: 0 auto;
  padding-top: 20px;
  float: left;
  display: none;
}

.icon {
  margin-bottom: 10px;
}
    

h3 {
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding-top: 5px;
  margin: 0px;
}